# Supabase Configuration
SUPABASE_URL=https://ktehveohgcuwqdopimfh.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0ZWh2ZW9oZ2N1d3Fkb3BpbWZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMzE3ODcsImV4cCI6MjA5OTcwNzc4N30.vRS4upBVOana7QGrXGCwaRTltcjEyWPkHpzbtAQtkqA

# Server Configuration
PORT=8000
HOST=0.0.0.0